.container {
    flex-direction: column;
  }
  
  .track {
    width: 400px;
    background: var(--ion-color-medium);
    padding: 16px;
  }
  
  ion-card {
    width: 120px;
    box-shadow: none;
    margin: 0px;
  }