<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Volver</ion-back-button>
    </ion-buttons>
    <ion-img src="../../assets/img/logo.png"></ion-img>      
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header>

  </ion-header>
  <div class="container">
    <div class="track">
      <ion-card id="card" button="true">
        <ion-card-content>No encontrado</ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
