<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="../../assets/img/logo.png"></ion-img>      
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
        <ion-input label="Usuario / Correo" label-placement="floating" type="text" [(ngModel)]="user.usuario"></ion-input>
  </ion-card>
  <ion-card>
    <ion-input label="Password" label-placement="floating" type="password" [(ngModel)]="user.password"></ion-input>
</ion-card>  

      <ion-row>
        <ion-col>
          <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
          <ion-button expand="block" (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
          <ion-button expand="block" (click)="crearCuenta()" fill="outline">Crear Cuenta</ion-button>
        </ion-col>

        <ion-col>
          <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
          <ion-button expand="block" (click)="olvidaPass()" fill="outline">¿Olvido su contraseña?</ion-button>
        </ion-col>        
      </ion-row>    
    </ion-content>          

