<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Volver</ion-back-button>
    </ion-buttons>
    <ion-img src="../../assets/img/logo.png"></ion-img>        
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="true">


      <ion-card-content>
      <ion-item>
        Bienvenido al sistema {{ usuario }}
      </ion-item>
    </ion-card-content>

    <div cards>

      <div class="grid-full">
        <ion-row>
          <ion-col>
            <ion-card>
              <h1 orange>&nbsp;&nbsp;&nbsp;2</h1>
              <p>&nbsp;Memoriales</p>
            </ion-card>
          </ion-col>
  
          <ion-col>
            <ion-card>
              <h1 grey>&nbsp;&nbsp;&nbsp;101</h1>
              <p>&nbsp;Visitas</p>
            </ion-card>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <ion-card>
              <h1 green>&nbsp;&nbsp;&nbsp;41</h1>
              <p>&nbsp;Recuerdos</p>
            </ion-card>
          </ion-col>
  
          <ion-col>
            <ion-card>
              <h1 green>&nbsp;&nbsp;&nbsp;8</h1>
              
              <p>&nbsp;Comentarios</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
  
    </div>
    <ion-row>
      <ion-col>
        <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
        <ion-button expand="block">Editar Memorial</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
        <ion-button expand="block">Añadir Recuerdos</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
